html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Jura', sans-serif;
    background-color: #02020A;
}


/** globales **/

.contenedor {
    width: 98%;
    margin: 0 auto;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.button {
    background-color: #330e5d;
    padding: 20px 40px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    border-radius: 20px;
    transition: all .6s ease-in-out;
}

.button:hover {
    background-color: #11051F;
}


/** Header **/

.site-header {
    background-image: url(../Img/background.jpg);
    height: 100vh;
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navegacion-principal {
    margin: 40px 20px 0 30px;
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 70px;
    height: 70px;
}

.barra {
    display: flex;
    align-items: center;
}

.barra a {
    color: #ffffff;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 40px;
    display: inline-block;
    position: relative;
}

.barra a:last-of-type {
    margin-right: 10;
}

.barra a::after {
    content: '';
    border-radius: 20px;
    position: absolute;
    width: 90%;
    height: 4px;
    bottom: -4px;
    left: 5%;
    background: #ffffff;
    transform: scale(0);
    transform-origin: bottom center;
    transition: transform .6s ease-in-out;
}

.barra a:hover::after {
    transform: scale(1);
    transform-origin: bottom (left, right);
}

.barra i {
    display: none;
}

.contenido-header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 75px;
    margin-left: 10px;
    margin-bottom: 60px;
}

.contenido-header h1 {
    color: #ffffff;
    margin-left: 60px;
    font-size: 3.8em;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0 4px 5px #ffffff;
}

.contenido-header h1 br {
    display: none;
}

.contenido-header p {
    color: #ffffff;
    font-size: 1.8em;
    margin: 0 0 50px 60px;
}


/** Main **/

main.index {
    display: flex;
    justify-content: space-between;
}

.contenido-main {
    color: #ffffff;
    padding: 20px 40px;
}

.contenido-main h2 {
    font-size: 3.4em;
    text-align: center;
    font-weight: 500;
    margin-top: 50px;
}

.contenido-main p {
    font-size: 1.8em;
    text-align: justify;
    line-height: 1.5;
    margin-top: 80px;
}

.querys {
    display: none;
}

.contenido-main .button {
    margin-top: 50px;
    padding: 15px 25px;
}

.contenido-main div.boton {
    text-align: center;
}


/** seccion caracteristicas **/

@media (min-width: 769px) {
    .caracteristicas {
        height: 100vh;
    }
}

.caracteristicas h2 {
    color: #ffffff;
    font-size: 3em;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: 20px;
}

.info-caracteristicas {
    display: flex;
    color: #ffffff;
    text-align: center;
    gap: 2em;
}

.car {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.car i {
    font-size: 3.2em;
    margin: 20px 0;
    text-align: center;
    background-color: #11051F;
    padding: 60px;
    border-radius: 50%;
}

.car h3 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.car p {
    font-size: 1.4em;
    text-align: center;
    font-weight: 400;
    line-height: 1.2;
}


/** seccion nosotros **/

.nosotros {
    display: flex;
}

@media (min-width: 769px) {
    .nosotros {
        height: 100vh;
        width: 100vw;
    }
}

.contenido-nosotros {
    color: #ffffff;
    padding: 20px;
    order: 2;
}

.contenido-nosotros h2 {
    font-size: 3.4em;
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
}

.contenido-nosotros p {
    font-size: 1.8em;
    text-align: justify;
    line-height: 1.1;
}

.contenido-nosotros .button {
    margin-top: 30px;
    padding: 15px 25px;
}

.contenido-nosotros div.boton {
    text-align: center;
}


/** seccion Planes **/

@media (min-width: 768px) {
    section.planes {
        height: 100vh;
        width: 100vw;
        margin-top: 40px;
    }
}

.planes h2 {
    font-size: 2.6em;
    color: #ffffff;
    padding-left: 40px;
    margin-top: 60px;
}

.contenido-planes {
    height: 500px;
    width: 800px;
    overflow: hidden;
    background-color: #330e5d;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
}

.contenido-planes .caracteristicas {
    flex: 2 0 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.contenido-planes .caracteristicas h3 {
    color: #ffffff;
    padding: 10px 30px;
    font-size: 1.8em;
    margin: 20px 0;
}

.contenido-planes .caracteristicas p {
    padding-left: 30px;
    font-size: 1.4em;
}

.contenido-planes .columnas {
    color: #ffffff;
    display: flex;
    gap: 20px;
    font-size: 1.4em;
    margin-right: 20px;
}

.colum1 {
    background-color: #11051F;
    height: 98%;
    width: 130px;
    margin: auto 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.colum2 {
    background-color: #11051F;
    height: 98%;
    width: 130px;
    margin: auto 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.colum1 i,
.colum2 i {
    font-weight: 600;
}


/** footer **/

.footer {
    background-color: #11051F;
    height: 200px;
    color: #ffffff;
    justify-content: center;
    text-align: center;
}

.footer .contenido-footer {
    display: flex;
    gap: 20px;
}

.contenido-footer .barra {
    margin: 20px;
    padding-left: 20px;
}

.contenido-footer .barra a {
    display: block;
    margin-bottom: 5px;
}

.contenido-footer .barra a:last-of-type {
    margin-bottom: 0;
}

.contenido-footer .redes {
    display: flex;
    margin-top: 20px;
    gap: 50px;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
}

.redes i {
    font-size: 2.4em;
    color: #ffffff;
}

.footer p {
    background-color: #02020A;
    padding: 15px;
    font-size: 1.4em;
}