/** Menu movil  min: 320px, max: 479px**/

.menu-movil {
    color: #ffffff;
    font-size: 2em;
    display: none;
}

@media (min-width: 320px) and (max-width: 479px) {
    .menu-movil {
        display: block;
        margin-top: 10px;
    }
    .barra i {
        display: inline;
    }
    .barra {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        flex-direction: column;
        top: 0;
        right: 0;
        bottom: 0;
        align-items: end;
        background-color: #11051F;
        padding: 2.5em;
        gap: 1em;
        box-shadow: 0 0 0 100vmax rgba( 0, 0, 0, 0.5);
    }
    nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .contenido-header h1 {
        font-size: 2.8em;
        margin-left: 30px;
    }
    .contenido-header h1 br {
        display: block;
    }
    .contenido-header p {
        font-size: .9em;
        margin-left: 30px;
        margin-bottom: 100px;
    }
    .site-header {
        background-position: center center;
        height: 60vh;
    }
    /** main**/
    main.index {
        flex-direction: column;
    }
    .contenido-main h2 {
        font-size: 1.8em;
    }
    .contenido-main p {
        font-size: .9em;
    }
    .contenido-main a {
        font-size: .7em;
        padding: 10px 25px;
        margin-top: 15px
    }
    .contenido-main .button {
        border-radius: 10px;
    }
    main.index img {
        display: none;
    }
    main.index .querys {
        display: block;
        width: 100vw;
    }
    /** seccion caracteristicas**/
    .info-caracteristicas {
        flex-direction: column;
        align-items: flex-end;
    }
    .car {
        padding: 0 20px;
    }
    .car h3 {
        font-size: 1.5em;
    }
    .caracteristicas h2 {
        font-size: 2em;
    }
    .iconos {
        font-size: 2.2em;
    }
    .car p {
        font-size: 1.2em;
    }
    .car p:last-of-type {
        margin-bottom: 20px;
    }
    /** seccion nosotros**/
    .nosotros {
        flex-direction: column-reverse;
    }
    .nosotros img {
        display: none;
    }
    .contenido-nosotros h2 {
        font-size: 1.8em;
    }
    .contenido-nosotros p {
        font-size: .9em;
        display: block;
    }
    .nosotros .querys {
        display: block;
    }
    .contenido-nosotros a {
        font-size: .7em;
        padding: 10px 25px;
        margin-top: 15px
    }
    .contenido-nosotros .button {
        border-radius: 10px;
    }
    /** seccion planes**/
    .planes h2 {
        font-size: 1.8em;
        color: #ffffff;
        text-align: center;
        margin-top: 60px;
        font-weight: 500;
    }
    .contenido-planes {
        height: 600px;
        width: 95%;
        overflow: hidden;
        background-color: #330e5d;
        margin: 0 auto;
        border-radius: 20px;
        display: flex;
    }
    .contenido-planes .caracteristicas {
        flex: 1 0 0;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-right: 10px;
    }
    .contenido-planes .caracteristicas h3 {
        color: #ffffff;
        padding: 10px 10px;
        font-size: 1.4em;
        margin: 20px 0 0 0;
        font-weight: 500;
    }
    .contenido-planes .caracteristicas p {
        padding-left: 10px;
        font-size: 1em;
        font-weight: 400;
    }
    .contenido-planes .columnas {
        color: #ffffff;
        display: flex;
        gap: 10px;
        font-size: 1em;
        margin-right: 10px;
    }
    .colum1 {
        background-color: #11051F;
        height: 98%;
        width: 80px;
        margin: auto 0;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 63px;
    }
    .colum2 {
        background-color: #11051F;
        height: 98%;
        width: 80px;
        margin: auto 0;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 63px;
    }
    .colum1 i,
    .colum2 i {
        font-weight: 800;
        font-size: .9em;
    }
    /** footer **/
    .footer {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        height: 150px;
    }
    .footer .barra {
        display: none;
    }
    .footer .redes {
        margin: 40px auto;
        gap: 20px;
        text-align: center;
        justify-content: space-between;
    }
    .footer .redes i {
        font-size: 1.8em;
    }
    .footer p {
        font-size: .9em;
    }
    /**** PAGINAS INTERNAS  ****/
    /** producto **/
    .contenido-header p br {
        display: none;
    }
    .contenido-funcion {
        width: 90%;
    }
    .contenido-funcion h2 {
        font-size: 1.6em;
    }
    .contenido-funcion p {
        font-size: 1.2em;
    }
    .objectivos {
        flex-direction: column;
    }
    .objectivos h2 {
        font-size: 1.6em;
        text-align: center;
    }
    .objectivos p {
        font-size: 1.2em;
        text-align: justify;
    }
    .contenido1 {
        flex-direction: column;
        width: 100%;
    }
    .contenido1 .icono {
        font-size: 2em;
        padding: 30px;
    }
    .contenido1 p {
        font-size: 1.2em;
    }
    .contenido2 {
        flex-direction: column;
        width: 100%;
    }
    .contenido2 .icono {
        font-size: 2em;
        padding: 30px;
    }
    .contenido2 p {
        font-size: 1.2em;
    }
}


/** Menu movil  min: 481x, max: 767px**/

@media (min-width: 481px) and (max-width: 767px) {
    .menu-movil {
        display: block;
        margin-right: 40px;
    }
    .barra i {
        display: inline;
    }
    .barra {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        flex-direction: column;
        top: 0;
        right: 0;
        bottom: 0;
        align-items: end;
        background-color: #11051F;
        padding: 2.5em;
        gap: 1em;
        box-shadow: 0 0 0 100vmax rgba( 0, 0, 0, 0.5);
    }
    nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .contenido-header h1 {
        font-size: 3.8em;
        margin-left: 40px;
    }
    .contenido-header h1 br {
        display: block;
    }
    .contenido-header p {
        font-size: 1.2em;
        margin-left: 40px;
        margin-bottom: 100px;
    }
    .site-header {
        width: 100vw;
        height: 60vh;
        background-position: center center;
    }
    main.index img {
        display: none;
    }
    main.index {
        flex-direction: column;
    }
    main.index .querys {
        display: block;
        width: 100vw;
    }
    .contenido-main h2 {
        font-size: 2.1em;
    }
    .contenido-main p {
        font-size: 1.2em;
    }
    .contenido-main a {
        font-size: .9em;
        padding: 10px 25px;
        margin-top: 15px
    }
    .contenido-main .button {
        border-radius: 10px;
    }
    /** seccion caracteristicas**/
    .info-caracteristicas {
        flex-direction: column;
    }
    .car {
        padding: 0 40px;
    }
    .car h3 {
        font-size: 1.7em;
    }
    .contenedor h2 {
        font-size: 2.4em;
        margin-top: 40px;
    }
    .iconos {
        font-size: 2.2em;
    }
    .car p {
        font-size: 1.4em;
    }
    .car p:last-of-type {
        margin-bottom: 30px;
    }
    .nosotros img {
        display: none;
    }
    .nosotros {
        flex-direction: column-reverse;
    }
    .nosotros .querys {
        display: block;
        width: 100vw;
    }
    .contenido-nosotros h2 {
        font-size: 2.1em;
    }
    .contenido-nosotros p {
        font-size: 1.2em;
    }
    .contenido-nosotros a {
        font-size: .9em;
        padding: 10px 25px;
        margin-top: 15px
    }
    .contenido-nosotros .button {
        border-radius: 10px;
    }
    /** seccion planes**/
    .planes h2 {
        font-size: 1.8em;
        color: #ffffff;
        text-align: center;
        margin-top: 60px;
        font-weight: 500;
    }
    .contenido-planes {
        height: 600px;
        width: 90%;
        overflow: hidden;
        background-color: #330e5d;
        margin: 0 auto;
        border-radius: 20px;
        display: flex;
    }
    .contenido-planes .caracteristicas {
        flex: 1 0 0;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-right: 10px;
    }
    .contenido-planes .caracteristicas h3 {
        color: #ffffff;
        padding: 10px 10px;
        font-size: 1.4em;
        margin: 20px 0 0 0;
        font-weight: 500;
    }
    .contenido-planes .caracteristicas p {
        padding-left: 10px;
        font-size: 1em;
        font-weight: 400;
    }
    .contenido-planes .columnas {
        color: #ffffff;
        display: flex;
        gap: 10px;
        font-size: 1em;
        margin-right: 10px;
    }
    .colum1 {
        background-color: #11051F;
        height: 98%;
        width: 100px;
        margin: auto 0;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 63px;
    }
    .colum2 {
        background-color: #11051F;
        height: 98%;
        width: 100px;
        margin: auto 0;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 63px;
    }
    .colum1 i,
    .colum2 i {
        font-weight: 800;
        font-size: .9em;
    }
    /** footer **/
    .footer {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        height: 150px;
    }
    .footer .barra {
        display: none;
    }
    .footer .redes {
        margin: 40px auto;
        gap: 20px;
        text-align: center;
        justify-content: space-between;
    }
    .footer .redes i {
        font-size: 2em;
    }
    .footer p {
        font-size: 1em;
    }
    /**** PAGINAS INTERNAS  ****/
    /** producto **/
    .contenido-funcion {
        width: 95%;
    }
    .contenido-funcion h2 {
        font-size: 1.8em;
    }
    .contenido-funcion p {
        font-size: 1.4em;
    }
    .objectivos {
        flex-direction: column;
    }
    .objectivos h2 {
        font-size: 1.6em;
        text-align: center;
    }
    .objectivos p {
        font-size: 1.2em;
        text-align: justify;
    }
    .contenido1 {
        flex-direction: column;
        width: 100%;
    }
    .contenido1 .icono {
        font-size: 2em;
        padding: 30px;
    }
    .contenido1 p {
        font-size: 1.2em;
    }
    .contenido2 {
        flex-direction: column;
        width: 100%;
    }
    .contenido2 .icono {
        font-size: 2em;
        padding: 30px;
    }
    .contenido2 p {
        font-size: 1.2em;
    }
}

@media (min-width: 680px) and (max-width: 767px) {
    .contenido-planes .caracteristicas p {
        font-size: 1.4em;
    }
    .contenido-planes .caracteristicas h3 {
        font-size: 2.2em;
    }
    .footer .redes i {
        font-size: 2.4em;
    }
    .footer p {
        font-size: 1.2em;
    }
    /**** PAGINAS INTERNAS  ****/
    /** producto **/
    .contenido-funcion {
        width: 95%;
    }
    .contenido-funcion h2 {
        font-size: 2em;
    }
    .contenido-funcion p {
        font-size: 1.5em;
    }
    .objectivos {
        flex-direction: column;
    }
    .objectivos h2 {
        font-size: 1.8em;
        text-align: center;
    }
    .objectivos p {
        font-size: 1.4em;
        text-align: justify;
    }
    .contenido1 {
        flex-direction: column;
        width: 100%;
    }
    .contenido1 .icono {
        font-size: 2.2em;
        padding: 30px;
    }
    .contenido1 p {
        font-size: 1.4em;
    }
    .contenido2 {
        flex-direction: column;
        width: 100%;
    }
    .contenido2 .icono {
        font-size: 2.2em;
        padding: 30px;
    }
    .contenido2 p {
        font-size: 1.4em;
    }
}


/** Menu movil  min: 768px, max: 1024px**/

@media (min-width: 768px) and (max-width: 1024px) {
    nav.barra a {
        font-size: 1.3em;
    }
    .site-header {
        width: 100vw;
        height: 80vh;
        background-position: center center;
    }
    main.index {
        flex-direction: column;
    }
    main.index img {
        display: none;
    }
    main.index .querys {
        display: block;
        height: 70vh;
    }
    .contenido-main a {
        font-size: 1.4em;
        padding: 10px 25px;
        margin-top: 15px
    }
    .contenido-main .button {
        border-radius: 10px;
    }
    /** seccion caracteristicas**/
    .caracteristicas {
        align-items: center;
        height: 120vh;
    }
    .car {
        padding: 0 40px;
    }
    .car h3 {
        font-size: 1.7em;
    }
    .contenedor h2 {
        font-size: 2.4em;
        margin-top: 40px;
    }
    .iconos {
        font-size: 2.2em;
    }
    .car p {
        font-size: 1.4em;
    }
    .car p:last-of-type {
        margin-bottom: 30px;
    }
    .nosotros {
        flex-direction: column-reverse;
    }
    .nosotros img {
        display: none;
    }
    .nosotros .querys {
        display: block;
        height: 70vh;
    }
    .nosotros a {
        font-size: 1.4em;
        padding: 10px 25px;
        margin-top: 15px
    }
    .contenido-nosotros .button {
        border-radius: 10px;
    }
    /** seccion planes **/
    .contenido-planes {
        width: 90%;
    }
    .footer .redes {
        justify-content: space-between;
        width: 65%;
    }
    /**** PAGINAS INTERNAS  ****/
    /** producto **/
    .contenido-funcion {
        width: 95%;
    }
    .contenido-funcion h2 {
        font-size: 2.1em;
    }
    .contenido-funcion p {
        font-size: 1.6em;
    }
}

@media (min-width: 1025px) and (max-width: 1310px) {
    .footer .redes {
        width: 70%;
    }
    /**** PAGINAS INTERNAS  ****/
    /** producto **/
    .contenido-funcion {
        width: 95%;
    }
    .contenido-funcion h2 {
        font-size: 2.4em;
    }
    .contenido-funcion p {
        font-size: 1.8em;
    }
}

@media (min-width: 1800px) {
    .contenido-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contenido-main h2 {
        margin-top: 0;
    }
    .contenido-main p {
        line-height: 2;
    }
    .caracteristicas {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .caracteristicas h2 {
        margin-top: 0;
    }
    .contenido-nosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 50px;
    }
    .contenido-nosotros h2 {
        margin-top: 0;
    }
    .contenido-nosotros p {
        line-height: 2;
    }
    .planes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .contenido-planes {
        align-items: center;
    }
    .contenido-planes .caracteristicas {
        height: 400px;
        margin-top: 40px;
    }
    .contenido-planes .caracteristicas p {
        margin-bottom: 20px;
    }
    .contenido-planes .caracteristicas p:last-of-type {
        margin-bottom: 0;
    }
    .columnas {
        height: 98%;
        gap: 30px;
    }
    /** PAGINAS INTERNAS ***/
    /** subpagina producto **/
    .contenido-funcion {
        width: 80%;
    }
    .contenido-funcion h2 {
        font-size: 3em;
    }
    .objectivos h2 {
        font-size: 3.2em;
    }
    .objectivos p {
        line-height: 1.5;
        font-size: 2.4em;
    }
    .contenido1 .icono {
        padding: 50px;
        font-size: 3.8em;
    }
    .contenido1 p {
        font-size: 2.4em;
    }
    .contenido2 .icono {
        padding: 50px;
        font-size: 3.8em;
    }
    .contenido2 p {
        font-size: 2.4em;
    }
}